<?xml version="1.0"?>
<!--
    $Id: $
    $URL: $
    *************************************************************************
    Copyright (c) 2002-2009, DuraSpace.  All rights reserved
    Licensed under the DuraSpace License.

    A copy of the DuraSpace License has been included in this
    distribution and is available at: http://scm.dspace.org/svn/repo/licenses/LICENSE.txt
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <!--
        Configuration for FreeMarker template processing
        Placed here so that it can be discovered by the wrapped FreeMarker servlet
    -->
    <bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
    <bean id="fmHtmlEscape" class="freemarker.template.utility.HtmlEscape" />

    <bean id="freemarkerConfiguration" class="org.dspace.webmvc.view.freemarker.SpringThemeAwareFreeMarkerConfigurationFactoryBean">
        <description>Using the Config directly so we can use it outside the web tier</description>
        <property name="defaultEncoding" value="UTF-8" />
        <property name="preferFileSystemAccess" value="false" />
        <property name="templateLoaderPaths">
            <list>
                <value>file://${dspace.dir}/templates</value>
                <value>classpath:</value>
                <value>/</value>
                <value>classpath:org/dspace/freemarker</value>
                <value>classpath:org/springframework/web/servlet/view/freemarker</value>
            </list>
        </property>
        <property name="freemarkerSettings">
            <props>
                <prop key="datetime_format">dd/MM/yyyy</prop>
                <prop key="number_format">#</prop>
                <prop key="whitespace_stripping">true</prop>
            </props>
        </property>
        <property name="freemarkerVariables">
            <map>
                <entry key="xml_escape"  value-ref="fmXmlEscape" />
                <entry key="html_escape" value-ref="fmHtmlEscape" />
            </map>
        </property>
    </bean>

    <!--
        Source for i18n messages
    -->
    <bean id="messageSource" class="org.dspace.webmvc.utils.NameReplacingMessageSource">
        <property name="messageSource">
            <bean class="org.springframework.context.support.ResourceBundleMessageSource">
                <property name="basenames">
                    <list>
                        <value>messages</value>
                        <value>validation</value>
                    </list>
                </property>
            </bean>
        </property>
        <property name="nameSource">
            <bean class="org.springframework.context.support.ResourceBundleMessageSource">
                <property name="basename" value="names"/>
            </bean>
        </property>
    </bean>
</beans>
