<?xml version="1.0" encoding="UTF-8"?>
<!--
    $Id: $
    $URL: $
    *************************************************************************
    Copyright (c) 2002-2009, DuraSpace.  All rights reserved
    Licensed under the DuraSpace License.

    A copy of the DuraSpace License has been included in this
    distribution and is available at: http://scm.dspace.org/svn/repo/licenses/LICENSE.txt
-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>dspace-freemarker</display-name>

    <!--
        Declare localization messages for the JSTL libraries
        NB: Currently, we are using Spring's resource bundle support, so this is not needed
    -->
    <!-- context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>messages</param-value>
    </context-param -->

    <context-param>
        <param-name>dspace-config</param-name>
        <param-value>/dspace/config/dspace.cfg</param-value>
    </context-param>

    <!-- ConfigurationService initialization for dspace.dir -->
    <context-param>
        <description>The location of the main DSpace configuration file</description>
        <param-name>dspace.dir</param-name>
        <!-- param-value>${dspace.dir}</param-value -->
        <param-value>/dspace</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml
            /WEB-INF/applicationContext-core.xml
        </param-value>
        <!--
            Add this context if using Spring Security
            /WEB-INF/applicationContext-security.xml
        -->
    </context-param>

    <listener>
        <listener-class>org.dspace.app.util.DSpaceContextListener</listener-class>
    </listener>

    <!-- kernel start listener (from impl)
    	The following listener can be used instead of the filter below, it is simpler, cleaner
    	and eliminates the need for a DSpaceKernelServletFilter filter to be involved with the
    	request cycle.
    -->
    <listener>
        <listener-class>org.dspace.servicemanager.servlet.DSpaceKernelServletContextListener</listener-class>
    </listener>

    <!-- Load Spring applicationContext -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- session/request filter (from util) -->
    <filter>
      <filter-name>dspace.request</filter-name>
      <filter-class>org.dspace.utils.servlet.DSpaceWebappServletFilter</filter-class>
    </filter>

    <filter>
        <filter-name>dspace.context</filter-name>
        <filter-class>org.dspace.webmvc.filter.DSpaceRequestContextFilter</filter-class>
    </filter>

    <!-- Include for Spring Security -->
    <!-- filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter -->

    <!-- Map DSpace filter to all DSpace servlet requests -->
    <filter-mapping>
        <filter-name>dspace.request</filter-name>
        <servlet-name>dspace</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>dspace.context</filter-name>
        <servlet-name>dspace</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <!-- Include for Spring Security -->
    <!-- filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping -->

    <!-- Main DSpace servlet -->
    <servlet>
        <servlet-name>dspace</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Map the DSpace servlet to the default URL (handle all requests that don't have an explicit mapping) -->
    <servlet-mapping>
        <servlet-name>dspace</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- JSP Tag library definitions - these can be used within FreeMarker templates -->
    <jsp-config>
        <!-- Definition for JSTL fmt tag - not currently used -->
        <!-- taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
            <taglib-location>/WEB-INF/tld/fmt-1.1.2.tld</taglib-location>
        </taglib -->
    </jsp-config>
</web-app>
